$MAIN_COLOR: #4169E1;
$SECONDARY_COLOR: #B0C4DE;
$SECONDARY_COLOR_DARKER: #97afcf;
$THIRD_COLOR: #4A494A;
$BG_COLOR: #FFFFFF;
$WARN_COLOR: #FF5353;


%button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

%container {
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}